# Monte Carlo Conditional-Value-at-Risk

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'D:\\jupyter_notebooks'

In [3]:
os.chdir("D:/jupyter_notebooks/csv")

In [53]:
os.chdir("C:/Users/Marcelo/Downloads/matlab")

In [5]:
datos=pd.read_csv("ETFPortfolio.csv",sep=',')

In [54]:
datos2=pd.read_csv("AMD.csv",sep=",")

In [55]:
datos2

          Date        AMD          GS        TSLA
0    10/1/2010   7.340000  138.709152    4.368000
1    11/1/2010   7.290000  134.413467    7.066000
2    12/1/2010   8.180000  145.079712    5.326000
3     1/1/2011   7.830000  141.162811    4.820000
4     2/1/2011   9.210000  141.300903    4.778000
..         ...        ...         ...         ...
115   5/1/2020  53.799999  194.094269  167.000000
116   6/1/2020  52.610001  196.430725  215.962006
117   7/1/2020  77.430000  196.768692  286.152008
118   8/1/2020  90.820000  203.637085  498.320007
119   9/1/2020  81.989998  200.970001  429.010010

[120 rows x 4 columns]

In [7]:
datos.dropna(axis=0,how='all',inplace=True)

In [11]:
precios=datos[datos.columns[1:]]

In [268]:
class MCVaR(object):
    def __init__(self,matrixdata,weights,descending=True,N=10000,alpha=[10,5,2.5,1,0.1]):
        self.matrixform=matrixdata.to_numpy()
        if descending==True:
            self.returns=preciosnp[:-1,:]/preciosnp[1:,:]-1
        else:
            self.returns=preciosnp2[:0:-1,:] /preciosnp2[-2: :-1,:]-1
        self.covar=np.cov(self.returns,rowvar=False)
        chol=np.linalg.cholesky(self.covar)
        self.mean=np.mean(self.returns,axis=0)
        r,c=self.matrixform.shape
        self.simulations=np.random.normal(0,1,(N,c)).dot(chol.T)+self.mean
        self.weights=np.array(weights)
        self.portfolio_simulations=self.simulations.dot(self.weights)
        self.var=np.percentile(self.portfolio_simulations,q=alpha)
        C=np.array(alpha)*T/100
        self.Cvar=[]
        for i in C:
            self.Cvar.append(np.mean(np.sort(self.portfolio_simulations,axis=0)[: int(i)]))
        D={'VaR':self.var,'CVaR':self.Cvar}
        self.output_data=pd.DataFrame(data=D,index=['10%','5%','2.5%','1%','0.1%'])
    def Chart(self):
        print("Pending")

In [269]:
a=MCVaR(datos2[datos2.columns[1:]],weights=[0.3,0.5,0.2],descending=False)

In [270]:
a.Cvar

[-0.1628052997200234,
 -0.18666634881922986,
 -0.20784411421984988,
 -0.23538919748038709,
 -0.276515817542239]

In [271]:
a.output_data

           VaR      CVaR
10%  -0.091522 -0.162805
5%   -0.125080 -0.186666
2.5% -0.153807 -0.207844
1%   -0.184709 -0.235389
0.1% -0.253475 -0.276516